
:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-base: 1rem;
}

/* CSS RESET */
body, img, p, fieldset, legend, label, input, select, textarea, button, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}