/* CSS RESET */
body, img, p, fieldset, legend, label, input, select, textarea, button, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}